/*General*/
body {
  margin: 0;
  font-family: 'Ubuntu Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-size: 1.5em;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}
.neonText {
  color: rgb(221, 255, 246);
  text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    /* Green glow */
    0 0 42px #0fa,
    0 0 82px rgb(224, 18, 211),
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
/*Projects styling*/
.prj_btn {
  margin-top: 1em;
  margin-left: 1em;
}

.prj_btn:hover {
  margin-left: 0.4em;
  transition: 0.1s ease-in;
}

.prj_header {
  margin-top: 2em;
  margin-left: 0.5em;
}

.text_container {
  width: 70vw;
  margin-left: 1em;
}

/*End projects styling*/

/* Home component */
.terminal1 {
  border-bottom: 1px solid white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding-left: 1.5em;
}

input {
  background-color: black;
  border: none;
  outline: none;
  color: white;
  font-family: 'Ubuntu Mono';
  font-size: 1em;
}

.green {
  color: greenyellow;
}

.purple {
  color: purple;
}

.blue {
  color: blue;
}

/* End Home component */


/*  WACC component */





.gist_redirect {
  font-size: 1.2em;
  text-align: right;
  margin-right: 3em;
  
}

/* End WACC Component*/

/* Window Template Component */

.template_container {
  width: 24vw;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.4em 1em;
}

@media only screen and (max-width: 900px) {
  .template_container {
    width: 50vw;
  }
}

.gallery_img {
  max-width: 200px;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  font-size: 0.8em;
}



/* End Window Template Component*/

/* Gallery Component */
.projects_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* End Gallery Component */